<div class="mainNavContainer flex justify-between m-4">
  <div class="mainNavBranding text-xl">
    <%= link_to 'wacevedo.com', root_path, class: 'text-xl' %>
  </div>
  <div class="mainNavMenu">
    <%= link_to 'Blog', '#', class: 'text-xl p-4 text-gray-500 line-through' %>
    <%= link_to 'portfolio', '#', class: 'text-xl p-4 text-gray-500 line-through' %>
    <%= link_to 'Contact', '#', class: 'text-xl p-4 text-gray-500 line-through' %>
  </div>
</div>
