<div class="footer-container">
  <div class="main-footer">
    <a href="https://www.linkedin.com/in/wacevedo/" target="_blank"><%= icon('fab','linkedin', class: 'fa')%></a>
    <a href="https://github.com/wacevedo76" target="_blank"><%= icon('fab','github-square', class: 'fa')%></a>
    <a href="https://www.facebook.com/wacevedo76" target="_blank"><%= icon('fab','facebook-square', class: 'fa')%></a>
    <a href="https://www.instagram.com/acevedo8486/" target="_blank"><%= icon('fab','instagram', class: 'fa')%></a>
  </div>
</div>
