<div class="footer-container">
  <div class="main-footer">
    <a href="https://www.linkedin.com/in/wacevedo/" target="_blank"><i class="fa fa-linkedin"></i></a>
    <a href="https://github.com/wacevedo76" target="_blank"><i class="fa fa-github-square"></i></a>
    <a href="https://www.facebook.com/wacevedo76" target="_blank"><i class="fa fa-facebook"></i></a>
    <a href="https://www.instagram.com/acevedo8486/" target="_blank"><i class="fa fa-instagram"></i></a>
  </div>
</div>
