<div id="navContainer">
  <div id="navLeftSide">
    <span id="navName">W. Acevedo</span> |
    <span id="navProfession"> WEB DEVELOPER </span>
  </div>
  <div id="navRightSideContainer">
    <div id="navToggler">
      <span id="navMenuToggler"><i class="fa fa-bars nav_rotate_close"></i></span>
    </div>
    <div id="navMenu">
      <!-- nav menu items -->
    </div>
  </div>
</div>
