<div id="navContainer">
  <div id="navLeftSide">
    <span id="navName">W. Acevedo</span> |
    <span id="navProfession"> WEB DEVELOPER </span>
  </div>
  <div id="navRightSideContainer">
    <div id="navToggler">
      <span id="navMenuToggler"><i class="fa fa-bars"></i></span>
    </div>
    <div id="navMenu">
      <a href="#" class="menu-item">BLOG</a>
      <a href="#" class="menu-item">CV</a>
      <a href="#" class="menu-item">PORTFOLIO</a>
    </div>
  </div>
</div>
