<div class="nav-container">
  <div class="nav-left-side">
    <span class="name">W. Acevedo</span> |
    <span class="profession"> WEB DEVELOPER </span>
  </div>
  <div class="nav-rightside-container">
    <div class="nav-toggler">
      <span class="nav-menu-toggler">#</i></span>
    </div>
    <div class="navbar-rightside">
      <a href="#" class="menu-item">BLOG</a>
      <a href="#" class="menu-item">CV</a>
      <a href="#" class="menu-item">PORTFOLIO</a>
    </div>
  </div>
</div>
