<div class="navbarContainer">
  <div class="main-navbar">
    <div class="navbar-leftside">
      <span class="name">W. Acevedo</span> | <span class="profession"> FULL STACK DEVELOPER </span>
    </div>
    <div class="nav-rightside-container">
      <div class="nav-toggler">
        <span class="nav-menu-toggler">#</span>
      </div>
      <div class="navbar-rightside">
        <a href="#" class="menu-item">BLOG</a>
        <a href="#" class="menu-item">CV</a>
        <a href="#" class="menu-item">PORTFOLIO</a>
      </div>
    </div>
  </div>
</div>
