
<div class="app-container">
  <%= render '/shared/navbar' %>
  <div class="cvContainer">

    <div id="cv-header">
      <div id="cv-headshot">
        <%= image_tag 'cv/BestProfilePic2.jpg', class: 'avatar-med' %>
      </div>
      <div id="cv-title" class='cv-h1'>
        <span id="name">William Acevedo</span><br>
        <span id="professional-title">Full Stack Web Developer</span>
      </div>
      <div id="cv-contact">
        <div id="cv-mobile">mobile: +48 690 157 026</div>
        <div id="cv-email">email: william@wacevedo.com</div>
        <div id="cd-portfolio">site: wacevedo.pl</div>
        <div id="cv-linkedin">LinkedIn: wacevedo</div>
        <div id="cv-github">GitHub: wacevedo76</div>
      </div>
    </div>
    <div id="cv-body">

      <details id="cv-focus">
        <summary id="cv-focus-title" class="cv-title">Focus</summary>
        <div id="cv-focus-content">My focus is to secure a position as a web developer where my love of programming can have a meaningful impact on business, as well as have the opportunity to develop my skills in a professional setting.
        </div>
      </details>

      <details id="cv-skills">
        <summary id="cv-skills-title" class="cv-title">Skill</summary>
        <div id="cv-skills-content">
          <ul>
            <li>JavaScript</li>
            <li>React JS</li>
            <li>Ruby</li>
            <li>Ruby on Rails</li>
            <li>RSpect</li>
            <li>Python</li>
            <li>HTML / CSS / SCSS</li>
            <li>Bootstrap</li>
            <li>Webback / Babble</li>
            <li>OOP / MVC</li>
            <li>Git / GitHub</li>
            <li>Figma (Basic Prototyping)</li>
            <li>Linux Administration (intermediate)</li>
            <li>SQL & Database Management</li>
            <li>Experienced computer technician</li>
            <li>Well organized</li>
            <li>The ability to work well within a team</li>
            <li>Excellent communication, written and interpersonal skills</li>
          </ul>
        </div>
      </details>

      <details id="cv-projects">
        <summary id="cv-projects-title" class="cv-title">Projects</summary>
        <div id="cv-projects-content">
          <ul>
            <li> <a href="https://nabo-app.herokuapp.com">Nabo</a></li>
            <li><a href="https://github.com/kjartur/mealshare">Thought Food</a></li>
            These are two Ruby on Rails, social web app projects to which I contributed a considerable amount of code
          </ul>
        </div>
      </details>

      <details id="cv-languages">
        <summary id="cv-languages-title" class="cv-title">Lanugages</summary>
        <div id="cv-languages-content">English (native) | Spanish (conversational) Polish (A1)</div>
      </details>

      <details id="cv-education">
        <summary id="cv-education-title" class="cv-title">Education</summary>
        <div id="cv-education-content">
          Le Wagon Berlin - batch #244 | April - June 2019
          Full Stack Development training program.

          State University of New York at Purchase | 1997 - 2001
          Major: Jazz Performance. Minor: Liberal Arts.  
        </div>
      </details>

      <details id="cv-certifications">
        <summary id="cv-certifications-title" class="cv-title">Certifications</summary>
      </details>

      <details id="cv-previous-experience">
        <summary id="cv-previous-experience-title" class="cv-title">Previous Experience</summary>
      </details>
    </div>

    <div id="cv-footer">
      <div id="cv-employment-status">
        Jestem obywatelem stanów z jednoczonych , leczjako małżonek polskiego obywatela , mam uregulowany status pobytu w polsce i korzystam z dostepu do rynku pracy na tych samych zasadach co obywatele rzeczpospolitej polskiej (nie potrzebuję zezwolenia na pracę)
      </div>
      <div id="cv-permission-statement">
        W  Wyrażam zgodę na przetwarzanie moich danych osobowych dla potrzeb niezbędnych dla realizacji procesu rekrutacji (zgodnie z ustawą z dn. 29.08.97 roku o ochronie danych osobowych Dz.U Nr 133 poz. 883)
      </div>
    </div>
  </div>


  <%= render 'shared/footer' %>
</div>
