
<div class="app-container">
  <%= render '/shared/navbar' %>
  <div class="cvContainer">

    <div id="cv-header">
      <div id="cv-headshot">
        <%= image_tag 'cv/BestProfilePic2.jpg', class: 'avatar-med' %>
      </div>
      <div id="cv-title" class='cv-h1'>
        <span id="name">William Acevedo</span><br>
        <span id="professional-title">Full Stack Web Developer</span>
      </div>
      <div id="cv-contact">
        <span id="cv-mobile">+48 690 157 026</span>
        <span id="cv-email">william@wacevedo.com</span>
        <span id="cd-portfolio">wacevedo.pl</span>
        <span id="cv-linkedin">LinkedIn: wacevedo</span>
        <span id="cv-github">GitHub: wacevedo76</span>
      </div>
    </div>
  </div>

  <div id="cv-focus">
    <div id="cv-focus-title">Focus</div>
    <div id="cv-focus-content">My focus is to secure a position as a web developer where my love of programming can have a meaningful impact on business, as well as have the opportunity to develop my skills in a professional setting.
    </div>
  </div>

  <div id="cv-skills">
    <div id="cv-skills-title" class="cv-h2">
    </div>
      <div id="cv-skills-content">
        <ul>
          <li>JavaScript</li>
          <li>React JS</li>
          <li>Ruby</li>
          <li>Ruby on Rails</li>
          <li>RSpect</li>
          <li>Python</li>
          <li>HTML / CSS / SCSS</li>
          <li>Bootstrap</li>
          <li>Webback / Babble</li>
          <li>OOP / MVC</li>
          <li>Git / GitHub</li>
          <li>Figma (Basic Prototyping)</li>
          <li>Linux Administration (intermediate)</li>
          <li>SQL & Database Management</li>
          <li>Experienced computer technician</li>
          <li>Well organized</li>
          <li>The ability to work well within a team</li>
          <li>Excellent communication, written and interpersonal skills</li>
        </ul>
      </div>
  </div>

  <div id="cv-projects">
    <div id="cv-projects-title" class="cv-h2">Projects</div>
    <div id="cv-projects-content">
      <ul>
        <li> <a href="https://nabo-app.herokuapp.com">Nabo</a></li>
        <li><a href="https://github.com/kjartur/mealshare">Thought Food</a></li>
        These are two Ruby on Rails, social web app projects to which I contributed a considerable amount of code
      </ul>
    </div>
  </div>

  <div id="cv-languages">
    <div id="cv-languages-title" class="cv-h2">Lanugages</div>
    <div id="cv-languages-content">English (native) | Spanish (conversational) Polish (A1)</div>
  </div>

  <div id="cv-education">
    <div id="cv-education-title" class="cv-h2">Education</div>
    <div id="cv-education-content">
      Le Wagon Berlin - batch #244 | April - June 2019
      Full Stack Development training program.

      State University of New York at Purchase | 1997 - 2001
      Major: Jazz Performance. Minor: Liberal Arts.  
    </div>
  </div>

  <div id="cv-certifications">
    <div id="cv-title" class="cv-h2"></div>
  </div>

  <div id="cv-previous-experience">
    <div id="cv-title" class="cv-h2"></div>
  </div>

  <%= render 'shared/footer' %>
</div>
