<div class="app-container">
  <%= render '/shared/navbar' %>
  <div class="index-container">
    <div class="blog-container">
      <span class='blg-date'>Wed, October 19th, 2019</span>
      <h2 class="index-header">My first ...</h2>
      <p>Hello all,</p>
      <p>This site exists not only to showcase my abilities as a web developer but to have a place to play with differenet web design ideas.</p>
      <p>I spent the better part of this week working on this site's responsive features, the navigation button that appears in place of the rightside navigation at fullscreen, but I still hadn't published this site yet.</p>
      <p>... therefore, while this site can be described as "sparce" at the moment, I'll be filling it with new content and features as the week, month and year progresses.</p>
    </div>

    <div class="blog-container">
      <span class='blg-date'>Mon, November 4th, 2019</span>
      <h2 class="index-header">That took some time...</h2>
      <p>So my last post (or first post) was written twenty-five or so days agao, and you might be wondering why it took me so long to write another post. Well, here is the long of it.</p>
      <p>It actually took me this long to deploy my app, and along the way I learned a lot of things about deploying a Rails app: I learned a great deal about webservers (Appache2 and Nginx), a bit about applications servers (Passenger mainly) and working with Virtual Private Machines and Setting up firewalls and ... and after twenty-five days, I still hadn't deployed.</p>
      <p>I was learning a whole little about a whole bunch of things, but finally decided to just deploy to heroku now and learn and play with these things along the way because it's better to have a project that works out now and improve then to wait till everything is just right, but never deploy at all.</p>
      <p>... more to come.</p>
    </div>

    <div class="blog-container">
      <span class='blg-date'>Tues, November 5th, 2019</span>
      <h2 class="index-header">Night and day...</h2>
      <p>So I began implementing a night and day mode for my site, once they are ready, I'll include a moon and a sun icon somewhere in the same location on all of the pages... which would give the apperace that they are placed there statically.</p>
      <p>coincidentally, CSS custom properties are pretty cool.</p>
      <p>Okay, so I've been thinking about the features to implement on this site, and aside from making the site look less than an eighties-style professional business card (which is what I had intended), when I finish the night/day mode feature. I'll: <br>
        <ul>
          <li>implement a proper blog feature, CMS style (though, the blog markup doesn't take all that much time). Though, that will be difficult to show.</li>
          <li>a bug tracker, to share my woes with the rest of the world.</li>
          <li>(possibly) a time tracker</li>
        </ul>
      The CSS for the Night/Day modes is pretty much done.. just have to work out the JavaScript, should be done by tomorrow.
      Okay, have a good day all.
      </p>
    </div>
  </div>
  <%= render 'shared/footer' %>
</div>
