<div class="indexContainer">
  <span class='blg-date'>Wed, October 18th, 2019</span>
  <h1 class="index-header">My first ...</h1>
  <p>Hello all,</p>
  <p>This site exists not only to showcase my abilities as a web developer but to have a place to play with differenet web design ideas.</p>
  <p>I spent the better part of this week working on this site's responsive features, the navigation button that appears in place of the rightside navigation at fullscreen, but I still hadn't published this site yet.</p>
  <p>... therefore, while this site can be described as "sparce" at the moment, I'll be filling it with new content and features as the week, month and year progresses.</p>
</div>
