<header>
  <%= render 'components/mainNav' %>
</header>
<div class='landingpage-main max-w-[720px] mx-auto my-0 px-8 py-4 flex justify-center text-justify'>
  <div>
    <p class='pb-4'>Hello there, and thanks for stopping by.</p>
    <p class='pb-4'>This site once had much more content, however, the framework which was used to present this content had not been kept up to date, and as a result, had quite a few security flaws.  As apposed to spending time updating packages to update a site which hosted only a couple of blog post, I felt it was much more appropriate to wipe and start from scratch.</p>
    <p class='pb-4'>Now while my landing site does not contain much right now, I'll be adding content this new portfolio site over time.</p>
  </div>
</div>
