<div class="app-container">
  <%= render '/shared/navbar' %>
  <div class="login_form">
    <%= render 'devise/shared/login_form' %>
  </div>
  <%= render "devise/shared/links" %>
  <%= render 'shared/footer' %>
</div>
