.avatar-med {
  border-radius: 50%;
  border: solid var(--seen-primary) 2px;
  padding: 2px;
  width: 5vw;
}

@media screen and (max-width: 900px) {
  .avatar-med {
    width: 10vw;
  }
}

@media screen and (max-width: 479px) {
  .avatar-med {
    width: 30vw;
  }
}

@media screen and (min-width:320px) and (max-width:767px) and (orientation:landscape) {
  .avatar-med {
    width: 15vw;
  }
}
