/* Portrait --------------------------------------------------- */
@media screen and (min-width: 991px) {
  /* start of desktop styles */
  .footer-container {
    width: 100%;
    position: static;
    bottom: 0;
    margin: 0 auto;
    padding: 1em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    > .main-footer {
      display: inherit;
      justify-content: center;
      align-items: center;
      > a {
        color: black;
        font-size: 1.5rem;
        padding: 0 1em;
        transition: 1s;
        &:hover {
          color: skyblue;
          transition: 1s;
        }
      }
    }
  }
}
@media screen and (max-width: 991px) and (orientation:portrait) {
  /* start of large tablet styles */
  .footer-container {
    width: 100%;
    position: fixed;
    bottom: 0;
    margin: 0 auto;
    padding: 1em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    > .main-footer {
      display: inherit;
      justify-content: center;
      align-items: center;
      > a {
        color: black;
        font-size: 1.5rem;
        padding: 0 1em;
        transition: 1s;
        &:hover {
          color: skyblue;
          transition: 1s;
        }
      }
    }
  }
}
@media screen and (max-width: 767px) and (orientation:portrait) {
  /* start of medium tablet styles */
  .footer-container {
    width: 100%;
    position: fixed;
    bottom: 0;
    margin: 0 auto;
    padding: 1em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    > .main-footer {
      display: inherit;
      justify-content: center;
      align-items: center;
      > a {
        color: black;
        font-size: 1.5rem;
        padding: 0 1em;
        transition: 1s;
        &:hover {
          color: skyblue;
          transition: 1s;
        }
      }
    }
  }
}
/* Landscape -------------------------------------------------- */
@media screen and (min-width: 991px) and (orientation:landscape) {
  /* start of desktop styles */
}
@media screen and (max-width: 991px) and (orientation:landscape) {
  /* start of large tablet styles */
}
@media screen and (max-width: 767px) and (orientation:landscape) {
  /* start of medium tablet styles */
}
@media screen and (max-width: 479px) and (orientation:landscape) {
  /* start of phone styles */
}
