.footer-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0 1 10%;
  padding-top: .5em;

  > .main-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    width: 25%;
    margin: 0 auto;
    padding: .2em;
  }

  .fa {
    color: black;
    font-size: 2rem;
    padding: 0 .5em;
  }
}

/* Portrait --------------------------------------------------- */
@media screen and (min-height: 992px) and (orientation:portrait) {
  /* start of desktop styles */
}
@media screen and (max-height: 991px) and (orientation:portrait) {
  /* start of large tablet styles */
}
@media screen and (max-hight: 767px) and (orientation:portrait) {
  /* start of medium tablet styles */
}
@media screen and (max-height: 479px) and (orientation:portrait) {
  /* start of phone styles */
}
/* Landscape -------------------------------------------------- */
@media screen and (min-width: 992px) and (orientation:landscape) {
  /* start of desktop styles */
}
@media screen and (max-width: 991px) and (orientation:landscape) {
  /* start of large tablet styles */
}
@media screen and (max-width: 767px) and (orientation:landscape) {
  /* start of medium tablet styles */
}
@media screen and (max-width: 479px) and (orientation:landscape) {
  /* start of phone styles */
}
