.nav-container {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  > .nav-left-side {
    display: flex;
    justify-content: space-between;
    align-items: center;

    > .name {
      font-family: 'Yesteryear', cursive;
      font-size: 1.5rem;
      padding-right: .5rem;
      transform: rotate(-7deg);
    }
    > .profession {
      font-family: 'Nova Mono', monospace;
    }
  }

  > .nav-rightside-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    > .nav-right-side {
      display: none;
      flex-direction: row;
      > a {
        padding: 0 .5rem;
      }
    }
  }
}

/* Portrait --------------------------------------------------- */
@media screen and (min-height: 992px) and (orientation:portrait) {
  /* start of desktop styles */
}
@media screen and (max-height: 991px) and (orientation:portrait) {
  /* start of large tablet styles */
}
@media screen and (max-hight: 767px) and (orientation:portrait) {
  /* start of medium tablet styles */
}
@media screen and (max-height: 479px) and (orientation:portrait) {
  /* start of phone styles */
}
/* Landscape -------------------------------------------------- */
@media screen and (min-width: 992px) and (orientation:landscape) {
  /* start of desktop styles */
}
@media screen and (max-width: 991px) and (orientation:landscape) {
  /* start of large tablet styles */
}
@media screen and (max-width: 767px) and (orientation:landscape) {
  /* start of medium tablet styles */
}
@media screen and (max-width: 479px) and (orientation:landscape) {
  /* start of phone styles */
}
