details[open] summary ~ * {
  animation: sweep .5s ease-in-out;
  animation-duration: .5s;
}

@keyframes sweep {
  0%    {opacity: 0; margin-left: -10px}
  50%   {opacity: .5; margin-left: 10px}
  100%  {opacity: 1; margin-left: 0}
}

.cv-title {
  color: var(--bold-color);
  border-bottom: solid var(--seen-primary) 1px;
}
.cv-content {
  padding: .5em 0 .5em 14%;
}
.cv-description {
  font-size: .9rem;
  text-align: justify;
}
.cv-fineprint {
  font-size: .7rem;
  border-bottom: solid var(--seen-primary) 1px;
}
.no-bullet {
  list-style: none;
}
.cv-school {
  font-weight: bold;
}
.cv-school-description {
  font-style: italic;
}
.cv-certification-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.cv-certification {
  color: var(--h2-color);
  font-size: .9rem;
  font-weight: bold;
}
.cv-certification-date {
  font-size: 1rem;
  font-style: italic;

  &:before {
    content: " - ";
  }
}
.cv-previous-experience-statement {
  font-size: .8rem;
  margin-bottom: .5em;
}
.cv-experience-professional-title{
  font-size: .9rem;
  font-style: italic;
}
.previous-jobs {
  margin: .3em 0;
  padding: 0 1em;

  > li {
    font-size: .7rem;
  }
}
#cv-name {
  font-size: 3rem;
  color: var(--h2-color);
}
#cv-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  > #cv-headshot {
    flex-grow: 1;
  }
  > #cv-title {
    flex-grow: 2;

  }
  > #cv-contact {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;
  }
}
#cv-skills {
  > #cv-skills-content {
    > ul {

      padding-left: 0;
      height: 190px  ;
      display: flex;
      flex-flow: column wrap;

      > li {
      }
    }

  }
}
#cv-projects {
  >#cv-projects-content {
    > ul{
      list-style: none;
      padding-left: 0;
    }
  }
}

@media screen and (min-width: 480px) {
  .cv-certification-container {
    display: flex;
    flex-direction: row;
  }
  .cv-certification-date {
    font-size: .8rem;
    font-style: italic;
  }

  #cv-header {
    > #cv-headshot {
      flex-grow: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 2rem 0 0;
    }

    > #cv-title {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }

    > #cv-contact {
      flex-grow: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      text-align: right;
    }
  }

}
@media screen and (max-width: 900) {
  #cv-header{
    > #cv-title {
      > #cv-headshot {

      }
      > #cv-name {
        font-size: 1rem;
      }
    }
  }
}
@media screen and (max-width: 479px) {
  .cv-title {
    padding-top: 1em;
    border-bottom: solid var(--seen-primary) 1px;
  }

  .cv-content {
    padding: 0;
  }
  .no-bullet {
    list-style: none;
  }
  .cv-fineprint {
    font-size: .6rem;
    text-align: justify;
    border-bottom: solid var(--seen-primary) 1px;
  }

  .cv-school {
    font-size: .9rem;
    font-weight: bold;
  }
  .cv-school-date {
    font-size: .8rem;
  }
  .cv-school-description {
    font-size: .7rem;
    font-style: italic;
  }

  .cv-certification-container {
    display: flex;
    flex-direction: column;
  }
  .cv-certification-date {
    font-size: .8rem;
    font-style: italic;
  }

  #cv-header {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > #cv-title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: .5em 0;

      > #name {
        font-size: 1rem;
        font-weight: bold;
        border-bottom: solid var(--seen-primary) 1px;
      }
    }
    > #cv-title {
      flex-grow: 1;
      text-align: center;

      > #cv-name {
        font-size: 2rem;
        border-bottom: solid var(--seen-primary) 1px;
      }
      > #cv-professional-title {
      }
    }
    > #cv-contact {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;

      font-size: .8rem;
    }
  }
  #cv-skills {
    > #cv-skills-content {
      > ul {
        height: auto;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;

        > li {
          font-size: .9rem;
          padding-bottom: .5em;
          text-align: center;
        }
      }
    }
  }
  #cv-languages {
    > #cv-languages-content {
      display: flex;
      flex-direction: column;
    }
  }
  #cv-education {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width:320px) and (max-width:767px) and (orientation:landscape) {
  .cv-content {
    padding: .5em 0 .5em 5%;
  }
  .cv-fineprint {
    font-size: .7rem;
    text-align: justify;
    border-bottom: solid var(--seen-primary) 1px;
  }

  #cv-header {

    > #cv-title {
      > #cv-name {
        font-size: 1.5rem;
        font-weight: bold;
      }
    }
    > #cv-contact {
      font-size: .7rem;
    }
  }
  #cv-skills {
    > #cv-skills-content {
      > ul {
        > li {
          font-size: .9rem;
          padding-right: 2rem;
        }
      }
    }
  }
  #cv-languages {
    > #cv-languages-content {
      display: flex;
      flex-direction: row;

      > #cv-language-spanish {
        &:before {
         content: " | ";
       }

        &:after {
          content: " | ";
        }
      }

    }
  }
}
