.index-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 inherit;

  padding: 0 20px;
  height: 50vh;
  overflow-y: auto;

  > .blog-container {

    padding-bottom: 1rem;
    border-bottom: solid black 1px;
    margin-bottom: 1rem;

    > .blg-date {
      font-size: 1rem;
    }
    > h2 {
      font-size: 2rem;
      margin: 0;
      padding: .5rem;
    }
    > p {
      margin: .5rem;
      padding: 0;
      font-family: 'Roboto', sans-serif;
      font-size: 1rem;
      text-align: justify;
      text-justify: inter-word;
    }
  }

}
/* Portrait --------------------------------------------------- */
@media screen and (min-width: 992px) and (orientation:portrait) {
  /* start of desktop styles */
  .index-container {
    height: 85vh;
  }
}
@media screen and (max-width: 991px) and (orientation:portrait) {
  /* start of large tablet styles */
  .index-container {
    height: 85vh;
  }
}
@media screen and (max-height: 767px) and (orientation:portrait) {
  /* start of medium tablet styles */
    .index-container {
      height: 85vh;
    }
}
@media screen and (max-width: 479px) and (orientation:portrait) {
  /* start of phone styles */
  .index-container {
    height:80vh;
  }
}
/* Landscape -------------------------------------------------- */
@media screen and (min-width: 992px) and (orientation:landscape) {
  /* start of desktop styles */
  .index-container {
    height: 70vh
  }
}
@media screen and (max-width: 991px) and (orientation:landscape) {
  /* start of large tablet styles */
  .index-container {
    height: 55vh;
  }
}
@media screen and (max-width: 767px) and (orientation:landscape) {
  /* start of medium tablet styles */
  .index-container {
    height: 55vh;
  }
}
@media screen and (max-width: 479px) and (orientation:landscape) {
  /* start of phone styles */
  .index-container {
    height: 90vh;
  }
}
