.indexContainer {
  > .blg-date {
    display: block;
    font-size: 1.2rem;
  }
  > h1 {
    font-size: 2rem;
  }
  > p {
    padding-bottom: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    text-align: justify;
    text-justify: inter-word;
  }
}
/* Portrait --------------------------------------------------- */
@media screen and (min-width: 991px) {
  /* start of desktop styles */
  .indexContainer {
    height: 65vh;
  }
}
@media screen and (max-width: 991px) and (orientation:portrait) {
  /* start of large tablet styles */
  .indexContainer {
    margin: 0 auto;
    width: 90%;
  }
}
@media screen and (max-width: 767px) and (orientation:portrait) {
  /* start of medium tablet styles */
}
@media screen and (max-width: 479px) and (orientation:portrait) {
  /* start of phone styles */
}
/* Landscape -------------------------------------------------- */
@media screen and (min-width: 991px) and (orientation:landscape) {
  /* start of desktop styles */
}
@media screen and (max-width: 991px) and (orientation:landscape) {
  /* start of large tablet styles */
}
@media screen and (max-width: 767px) and (orientation:landscape) {
  /* start of medium tablet styles */
}
@media screen and (max-width: 479px) and (orientation:landscape) {
  /* start of phone styles */
}
