.indexContainer {
  > .blg-date {
    display: block;
    font-size: 1.2rem;
  }
  > h1 {
    font-size: 2rem;
  }
  > p {
    padding-bottom: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    text-align: justify;
    text-justify: inter-word;
  }
}

// portrait -------------------------------

  @media screen and (min-width: 991px) and (orientation:portrait) {
    /* start of desktop styles */

  }
  @media screen and (max-width: 991px) and (orientation:portrait) {
    /* start of large tablet styles */

  }
  @media screen and (max-width: 767px) and (orientation:portrait) {
    /* start of medium tablet styles */

  }
  @media screen and (max-width: 479px) and (orientation:portrait) {
    /* start of phone styles */
    .indexContainer {
      margin: 0 auto;
      width: 90%;
    }
  }

// landscape -------------------------------

  @media screen and (min-width: 991px) and (orientation:landscape) {
    /* start of desktop styles */

  }
  @media screen and (max-width: 991px) and (orientation:landscape) {
    /* start of large tablet styles */
    .indexContainer {
      margin: 0 auto;
      padding: 0 1em;
      max-height: 70vh;
      width: 90%;
      overflow-y: auto;
    }

  }
  @media screen and (max-width: 767px) and (orientation:landscape) {
    /* start of medium tablet styles */
  }
  @media screen and (max-width: 479px) and (orientation:landscape) {
    /* start of phone styles */

  }
