//External libraries
@import "font-awesome";

//Fonts
@import url('https://fonts.googleapis.com/css?family=Yesteryear&display=swap');
//font-family: 'Yesteryear', cursive;
@import url('https://fonts.googleapis.com/css?family=Nova+Mono&display=swap');
//font-family: 'Nova Mono', monospace;
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
//font-family: 'Roboto', sans-serif;

html{
  height: 100%;
}


/* Portrait --------------------------------------------------- */
@media screen and (min-width: 991px){
  /* start of desktop styles */
  body {
    margin: 6% 30%;
    background-color: none;
  }

  .app-container {
    border: solid black 1px;
    margin: 0 auto;
    padding: 2% 10%;
    max-width: 1020px;
    width: inherit;
  }
}
@media screen and (max-width: 991px) and (orientation:portrait) {
  /* start of large tablet styles */
}
@media screen and (max-width: 767px) and (orientation:portrait) {
  /* start of medium tablet styles */
}
@media screen and (max-width: 479px) and (orientation:portrait) {
  /* start of phone styles */
}
/* Landscape -------------------------------------------------- */
@media screen and (min-width: 991px) and (orientation:landscape) {
  /* start of desktop styles */
}
@media screen and (max-width: 991px) and (orientation:landscape) {
  /* start of large tablet styles */
}
@media screen and (max-width: 767px) and (orientation:landscape) {
  /* start of medium tablet styles */
}
@media screen and (max-width: 479px) and (orientation:landscape) {
  /* start of phone styles */
}
