:root {
  --seen-primary: black;
  --seen-secondary: blue;

  --emphasis-primary: black;
  --emphasis-secondary: black;

  --seen-hover: blue;

  --space-primary: white;
  --space-secondary: white;

// ^ base colors --------------------------------------------------

  --h2-color: var(--emphasis-primary);
  --bold-color: var(--emphasis-secondary);

  --font-color: var(--seen-primary);

  --link-color: var(--seen-primary);
  --link-hover-color: var(--seen-secondary);

  --border-color: var(--seen-primary);

  --icon-color: var(--seen-primary);
  --icon-hover: var(--seen-secondary);

  --bg-color: var(--space-primary);
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
}

.app-container {
  position: static;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  // border: solid var(--border-color) 1px;
  box-shadow: 0 6px 16px 0 rgba(0,0,0,.2);
  margin: 3% auto;
  padding: 2% 5%;
  max-width: 1020px;
  overflow-y: auto;
}

/* Portrait ---------------------------------------------------- */
@media screen and (min-height: 992px) and (orientation:portrait) {
 /* start of desktop styles */
}
@media screen and (max-height: 991px) and (orientation:portrait) {
 /* start of large tablet styles */
}
@media screen and (max-height: 767px) and (orientation:portrait) {
 /* start of medium tablet styles */
}
@media screen and (max-width: 479px) and (orientation:portrait) {
 /* start of phone styles */
 .app-container {
  height: 95vh;
 }
}

/* Landscape -------------------------------------------------- */
@media screen and (min-width: 992px) and (orientation:landscape) {
 /* start of desktop styles */
 .app-container {
   height: 80vh;
 }
}
@media screen and (max-width: 991px) and (orientation:landscape) {
 /* start of large tablet styles */
 .app-container {
   margin: 20px auto;
   height: 80vh;
   overflow-y: auto;
 }
}
@media screen and (max-width: 767px) and (orientation:landscape) {
 /* start of medium tablet styles */
 .app-container {
   margin: 20px auto;
   height: 80vh;
   overflow-y: auto;
 }
}
@media screen and (max-width: 479px) and (orientation:landscape) {
 /* start of phone styles */
}
